@import url(./styles.css);

.descriptionArticle {
  display: flex;
  flex-direction: row;
  padding: 10% 5%;
}

.descriptionArticleImage {
  width: 50%;
}

.descriptionArticleCard {
  display: flex;
  flex-direction: column;
}
.descriptionArticleTitle {
  color: #333333;
  font-size: 50px;
  margin-bottom: 5%;
}

.descriptionArticleMenu {
  padding-bottom: 10%;
}

.descriptionArticleMenuButton {
  font-family: var(--fontFamily);
  color: #777777;
  font-weight: bold;
  width: 35%;
  height: 55%;
  margin-bottom: 3%;
}

.descriptionArticleParagraph {
  font-family: var(--fontFamily);
  color: #777777;
  text-align: left;
  margin-left: 0;
  font-size: 18px;
  margin-bottom: 5%;
  line-height: 200%;
}

.descriptionArticleList {
  font-family: var(--fontFamily);
  color: #777777;
  font-size: 18px;
  line-height: 250%;
  margin-left: 3.5%;
}

.descriptionArticleButton {
  border-radius: 50px;
  background-color: #ff556e;
  border: none;
  color: white;
  font-family: var(--fontFamily);
  font-weight: bold;

  width: 25%;
  height: 40%;
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.descriptionArticleButton:hover {
  animation: bright 0.25s normal linear;
}

@keyframes bright {
  0% {
    background: linear-gradient(
      -225deg,
      #f8f6fc 29%,
      #ff556e 0%,
      #f8f6fc 19%,
      #ff556e 67%
    );
  }
  25% {
    background: linear-gradient(
      -225deg,
      #ff556e 10%,
      #f8f6fc 49%,
      #ff556e 20%,
      #f8f6fc 39%,
      #ff556e 67%
    );
  }
  50% {
    background: linear-gradient(
      -225deg,
      #ff556e 40%,
      #f8f6fc 100%
    );
  }
  100% {
    background: linear-gradient(
      -225deg,
      #ff556e 60%,
      #f8f6fc 100%
    );
  }
}

.descriptionArticleButtonBox {
  display: flex;
  height: 40%;
}

#descriptionArticleButtonTerms {
  padding-bottom: 6%;
  margin-right: 3%;
}

#descriptionArticleButtonPrivacy {
  padding-bottom: 6%;
}

