@import url(./styles.css);

#geometricShapesImages {
  display: flex;
  justify-content: space-between;
  padding-top: 6%;
}

#headerGreenDiamond {
  width: 1.3%;
}

#headerYellowCircle {
  width: 3%;
  padding-left: 1%;
}

article{
padding-top: 2%;
}

h1 {
    text-align: center;
    font-family: var(--fontFamily);
    font-size: 70px;
    font-weight: bolder;
    color: #333333;
    padding-bottom: 1.5%;
}

p{
    text-align: center;
    font-family: var(--fontFamily);
    color: #777777;
    margin-left: 14%;
    margin-right: 14%;
    
}