@import url(./styles.css);

#geometricShapesImages {
  display: flex;
  justify-content: space-between;
  padding-top: 6%;
}

#headerGreenDiamond {
  width: 1.3%;
}

#headerYellowCircle {
  width: 3%;
  padding-left: 1%;
}

article {
  padding-top: 2%;
}

h1 {
  text-align: center;
  font-family: var(--fontFamily);
  font-size: 70px;
  font-weight: bolder;
  color: #333333;
  padding-bottom: 1.5%;
}

p {
  text-align: center;
  font-family: var(--fontFamily);
  color: #777777;
  margin-left: 14%;
  margin-right: 14%;
}

#decorativeBlueCircle {
  width: 8%;
}

#headerDownloadButtons {
  width: 70%;
  float: right;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-right: 16%;
  padding-bottom: 5%;
}

#headerDownloadButtons a {
  color: white;
}

#appleDownload {
  margin-right: 0.5%;
}

#googlePlayDownload {
  margin-left: 0.5%;
}

#headerIphoneImage {
  width: 100%;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5%;
}

.boxIcons {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.boxIcons img {
  width: 120px;
}

figcaption {
  font-family: var(--fontFamily);
  font-weight: bold;
  color: #333333;
  margin-top: 15%;
}

@media only screen and (max-width: 768px) {
  #headerDownloadButtons {
    width: 70%;
    display: flex;
    justify-content: center;
  }

  #appleDownload {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 22%;
    padding-left: 5%;
  }

  #googlePlayDownload {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 22%;
    padding-left: 5%;
  }

  .icons {
    margin-left: 5%;
  }

  .boxIcons {
    margin-right: 4%;
  }

  figcaption {
    margin-top: 10%;
    font-size: 20px;
    text-align: center;
  }
}
