@import url("./styles.css");

nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
}

#logo {
  width: 15%;
}

#navBar {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  
}

.dropDownButton {
  padding: 14;
  background-color: inherit;
  border: none;
  font-weight: bold;
  font-size: 98%;
  color: #333333;
}



