@import url("./styles.css");

nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
}

#logo {
  width: 13%;
  margin-left: 0.5%;
}

#navBar {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

#navBar li a {
  color: black;
}

#navBar li a:hover {
  color: #ff556e;
}

.dropDownButton {
  padding: 14;
  background-color: inherit;
  border: none;
  font-weight: bold;
  font-size: 98%;
  color: #333333;
}

.dropDownButton:hover {
  color: #ff556e;
}

#navBarDownloadButton {
  background-color: inherit;
  border: 2px solid #ff556e;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 30%;
  padding-right: 30%;
  z-index: 3;
  font-family: var(--fontFamily);
  
}

#navBarDownloadButton a{

  font-weight: bold ;
  font-size: 15px;
  color: #ff556e;

}