@import url("./styles.css");

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
}

#logo {
  width: 13%;
  margin-left: 0.5%;
}

#navBar {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  list-style: none;
}

#navBar li a {
  color: #333333;
}

#navBar li a:hover {
  color: #ff556e;
}

.dropDownButton {
  padding: 14;
  background-color: inherit;
  border: none;
  font-weight: bold;
  font-size: 98%;
  color: #333333;
}

.dropDownButton:hover {
  color: #ff556e;
}

#navBarDownloadButton {
  border-radius: 50px;
  background-color: inherit;
  border: 2px solid #ff556e;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 30%;
  padding-right: 30%;
  z-index: 3;
  font-family: var(--fontFamily);
  color: #ff556e;
}

#navBarDownloadButton a {
  font-weight: bold;
  font-size: 15px;
  color: #ff556e;
}

#navBarDownloadButton:hover {
  animation: bright 0.25s normal linear;
}

@keyframes bright {
  0% {
    background: linear-gradient(
      -225deg,
      #f8f6fc 29%,
      #ff556e 0%,
      #f8f6fc 19%,
      #ff556e 67%
    );
  }
  25% {
    background: linear-gradient(
      -225deg,
      #ff556e 10%,
      #f8f6fc 49%,
      #ff556e 20%,
      #f8f6fc 39%,
      #ff556e 67%
    );
  }
  50% {
    background: linear-gradient(
      -225deg,
      #ff556e 40%,
      #f8f6fc 100%
    );
  }
  100% {
    background: linear-gradient(
      -225deg,
      #ff556e 60%,
      #f8f6fc 100%
    );
  }
}
