:root {
    --fontFamily: "Open Sans", sans-serif;
    --principalBackgroundColor: #F7FAFD;
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: var(--principalBackgroundColor);
    font-family: var(--fontFamily);
}