:root {
  --fontFamily: "Open Sans", sans-serif;
  --principalBackgroundColor: #f7fafd;
  --principalLeetterColor: #333333;
  --secondaryLetterColor: #777777;
  --tertiary-letter-color: #ff556e;
  --quartery-letter-color: #8e8e8e;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin-top: 3%;
  padding-left: 6%;
  padding-right: 9%;
  justify-content: center;
  font-family: var(--fontFamily);
}

.downloadButton {
  border-radius: 50px;
  background-color: #ff556e;
  border: none;
  color: white;
  font-family: var(--fontFamily);
  font-weight: bold;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  width: 20%;
  height: 15%;
}

.downloadButton:hover {
  animation: brillo 0.25s normal linear;
}

@keyframes brillo {
  0% {
    background: linear-gradient(
      -225deg,
      #f8f6fc 29%,
      #ff556e 0%,
      #f8f6fc 19%,
      #ff556e 67%
    );
  }
  25% {
    background: linear-gradient(
      -225deg,
      #ff556e 10%,
      #f8f6fc 49%,
      #ff556e 20%,
      #f8f6fc 39%,
      #ff556e 67%
    );
  }
  50% {
    background: linear-gradient(
      -225deg,
      #ff556e 40%,
      #f8f6fc 100%
    );
  }
  100% {
    background: linear-gradient(
      -225deg,
      #ff556e 60%,
      #f8f6fc 100%
    );
  }
}
