:root {
    --fontFamily: "Open Sans", sans-serif;
    --principalBackgroundColor: #F7FAFD;
    --principalLeetterColor:#333333;
    --secondaryLetterColor:#777777;
    --tertiary-letter-color:#FF556E;
    --quartery-letter-color:#8E8E8E;
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    margin-top: 5%;
    padding-left: 7%;
    padding-right: 7%;
    justify-content: center;
    font-family: var(--fontFamily);

}

.downloadButton {
    border-radius: 50px;
}